body{
  background-image: url("../images/green_cup.png");
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}

a{
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #cccccc;
  text-decoration: none;
  margin: 0px;
  border: 0px;
  padding: 10px;
  height: 20px;
  width: 20px;
}

h1{
  color: #ffffff;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: x-large
}

h2{
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: x-large;
  border-bottom: solid 2px #cccccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

p{
  line-height: 30px;
}

form{

}

input{
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #888;
  width: 50%;
}

textarea{
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #888;
  width: 100%;
}

button{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

footer{
  text-align: center;
  background-color: #666666;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 10px #4aaaa5;
  font-size: small;
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0px;
  clear: both;
  background-image: url("../images/grey_wash_wall.png")
}

.mainheaderbackground{
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background-image: url("../images/grey_wash_wall.png");
  overflow: auto;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.mainheadercontainer{
  width: 960px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.headername{
  text-align: center;
  font-size: 30px;
  height: 55px;
  width: 300px;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.headerlinkcontainer{
  text-align: right;
  width: 300px;
  height: 10px;
  margin-top: 50px;
  float: right;
}

.headerlink{
  border-right: 1px solid #cccccc;
  padding-top: 0px;
  padding-bottom: 0px;
}

.entirecontentarea{
  width: 960px;
  margin: auto;
  clear: both;
  margin-bottom: 20px;
}

.maincontent{
  background-color: #ffffff;
  width: 606px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 2px #cccccc;
  margin-bottom: 20px;
  float: left;
}

.mainphoto{
  height: auto;
  width: 420px;
  margin-right: 10px;
  float: left;
  clear: both;
}

.sidebar{
  background-color: #ffffff;
  text-align: center;
  width: 266px;
  border: solid 2px #cccccc;
  margin-left: 40px;
  float: left;
}

.icongroup{
  margin: auto;
  padding: 20px;
}

.socialmediaicons{
  margin-left: 2px;
  height: auto;
  width: 60px;
}

.connectwithme{
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: solid 1px #cccccc;
}

.portfoliocontainer{
  width: 240px;
  height: 180px;
  margin: 30px;
  margin-bottom: 0px;
  float: left;
}

.portfoliophoto{
  display: block;
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}

.portfoliolabel{
  width: 240px;
  margin-top: 130px;
  position: absolute;
}

.separator{
  height: 100px;
  width: 100%;
  background-image:url("../images/green_cup.png");
  clear: both;
}

@media screen and (max-width: 980px) {

  .mainheaderbackground{
    max-width: 980px;
  }

  .mainheadercontainer{
    max-width: 748px;
  }

  .entirecontentarea{
    max-width: 748px;
  }

  .maincontent{
    max-width: 448px;
  }

  .sidebar{
    max-width: 212px;
  }

  .connectwithme{
    margin-bottom: 0px;
  }

  .socialmediaicons{
    width: 50px;
  }

  .mainphoto{
    float: none;
    width: 100%;
  }

  .portfoliocontainer{
    width: 400px;
    height: auto;
    margin: 30px;
  }

  .portfoliolabel{
    width: 400px;
    margin-top: 240px;
    text-align: center;
  }

}

@media screen and (max-width: 768px){

  .mainheaderbackground{
    max-width: 748px;
  }

  .mainheadercontainer{
    max-width: 620px;
  }

  .entirecontentarea{
    max-width: 620px;
  }

  .maincontent{
    max-width: 576px;
  }

  .sidebar{
    max-width: 616px;
    width: 616px;
    margin: 0px
  }

  .connectwithme{
    margin-bottom: 0px;
  }

  .socialmediaicons{
    width: 50px;
  }

  .mainphoto{
    width: 320px;
    float: left;
  }

  .portfoliocontainer{
    width: 240px;
    margin: 20px;
    margin-bottom: 0px;
    float: left;
  }

  .portfoliophoto{
    width: 100%;
    float: left;
    position: relative;
  }

  .portfoliolabel{
    width: 240px;
    margin-top: 130px;
    position: absolute;
  }
}

@media screen and (max-width: 640px){

    .mainheaderbackground{
      max-width: 640px;
      width: 640px;
      height: auto;
    }

    .mainheadercontainer{
      max-width: 640px;
      height: auto;
    }

    .headername{
      max-width: 640px;
      width: auto;
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
      float: none;
    }

    .headerlinkcontainer{
      max-width: 640px;
      width:640px;
      height: auto;
      padding: 20px;
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
      text-align: center;
    }

    .headerlink{
      padding-left: 70px;
      padding-right: 70px;
    }

    .entirecontentarea{
      max-width: 640px;
    }

    .maincontent{
      max-width: 480px;
      clear: both;
      margin: 58px;
      margin-bottom: 20px;
    }

    .sidebar{
      max-width: 520px;
      width: 520px;
      margin: 58px;
      margin-top: 0px;
    }

    .mainphoto{
      float: none;
      width: 80%;
      margin-left: 48px;
      margin-right: 48px;
    }

    .portfoliocontainer{
      width: 400px;
      height: auto;
      margin: 40px;
    }

    .portfoliolabel{
      width: 400px;
      margin-top: 240px
    }
}
